<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>在席管理システム</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bit.ly/cdn-bootstrap-css">
    <link rel="stylesheet" href="https://bit.ly/cdn-bootstrap-theme">
    
    <script src="https://bit.ly/cdn-bootstrap-jq">
</script>
<style>
    html, body {
      height: 100%;
    }
</style>
<script src = "/public/javascripts/update.js"></script>
  </head>
  <body>
   
    <table class="table" id="stockTable">
        <tbody id="stockRows">

		<h1>KC104</h1>
    <img src="/public/images/KC104area.png"/>
                <td id ="1"><span class="label label-default"style="position:absolute; top:220px; left:340px;"><font size = "6">離席</font></span></td>
                <td id ="2"><span class="label label-default"style="position:absolute; top:220px; left:440px;"><font size = "6">離席</font></span></td>
                <td id ="3"><span class="label label-default"style="position:absolute; top:320px; left:340px;"><font size = "6">離席</font></span></td>
                <td id ="4"><span class="label label-default"style="position:absolute; top:320px; left:440px;"><font size = "6">離席</font></span></td>

                <td id ="5"><span class="label label-default"style="position:absolute; top:520px; left:340px;"><font size = "6">離席</font></span></td>
                <td id ="6"><span class="label label-default"style="position:absolute; top:520px; left:440px;"><font size = "6">離席</font></span></td>
                <td id ="7"><span class="label label-default"style="position:absolute; top:620px; left:340px;"><font size = "6">離席</font></span></td>
                <td id ="8"><span class="label label-default"style="position:absolute; top:620px; left:440px;"><font size = "6">離席</font></span></td>

                <td id ="9"><span class="label label-default"style="position:absolute; top:370px; left:500px;"><font size = "6">離席</font></span></td>
                <td id ="10"><span class="label label-default"style="position:absolute; top:370px; left:600px;"><font size = "6">離席</font></span></td>
                <td id ="11"><span class="label label-default"style="position:absolute; top:470px; left:500px;"><font size = "6">離席</font></span></td>
                <td id ="12"><span class="label label-default"style="position:absolute; top:470px; left:600px;"><font size = "6">離席</font></span></td>

                <td id ="13"><span class="label label-default"style="position:absolute; top:520px; left:650px;"><font size = "6">離席</font></span></td>
                <td id ="14"><span class="label label-default"style="position:absolute; top:520px; left:750px;"><font size = "6">離席</font></span></td>
                <td id ="15"><span class="label label-default"style="position:absolute; top:620px; left:650px;"><font size = "6">離席</font></span></td>
                <td id ="16"><span class="label label-default"style="position:absolute; top:620px; left:750px;"><font size = "6">離席</font></span></td>
                
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        </tbody>
      </div>
      <div>
          <td id ="17"><span class="label label-default"style="position:absolute;"><font size = "6">離席</font></span></td>
      </div>
    </table>
  </body>
  
</html>
