<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>在席管理システム</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    <script src="//bit.ly/cdn-bootstrap-jq"></script>
   
<style>
    html, body {
      height: 100%;
    }
</style>
<script src = "/public/javascripts/update.js"></script>
  </head>
  <body>
    <div class="vertical-center">
        <div class="container">
    <table class="table" id="stockTable">
        <tbody id="stockRows">
            <tr>
            <td><h1>教授室</h1></td>
            <td id="0"><h1><span class="label label-default">離席</span></h1></td>
          </tr>
        </div>
		<h1>KC104</h1>
    <img src="/public/images/KC104area.png"/>
                <td id ="1"><span class="label label-default"style="position:absolute; top:220px; left:450px;"><font size = "6">離席</font></span></td>
                <td id ="2"><span class="label label-default"style="position:absolute; top:220px; left:550px;"><font size = "6">離席</font></span></td>
                <td id ="3"><span class="label label-default"style="position:absolute; top:320px; left:450px;"><font size = "6">離席</font></span></td>
                <td id ="4"><span class="label label-default"style="position:absolute; top:320px; left:550px;"><font size = "6">離席</font></span></td>

                <td id ="5"><span class="label label-default"style="position:absolute; top:520px; left:450px;"><font size = "6">離席</font></span></td>
                <td id ="6"><span class="label label-default"style="position:absolute; top:520px; left:550px;"><font size = "6">離席</font></span></td>
                <td id ="7"><span class="label label-default"style="position:absolute; top:620px; left:450px;"><font size = "6">離席</font></span></td>
                <td id ="8"><span class="label label-default"style="position:absolute; top:620px; left:550px;"><font size = "6">離席</font></span></td>

                <td id ="9"><span class="label label-default"style="position:absolute; top:370px; left:590px;"><font size = "6">離席</font></span></td>
                <td id ="10"><span class="label label-default"style="position:absolute; top:370px; left:690px;"><font size = "6">離席</font></span></td>
                <td id ="11"><span class="label label-default"style="position:absolute; top:470px; left:590px;"><font size = "6">離席</font></span></td>
                <td id ="12"><span class="label label-default"style="position:absolute; top:470px; left:690px;"><font size = "6">離席</font></span></td>

                <td id ="13"><span class="label label-default"style="position:absolute; top:520px; left:740px;"><font size = "6">離席</font></span></td>
                <td id ="14"><span class="label label-default"style="position:absolute; top:520px; left:840px;"><font size = "6">離席</font></span></td>
                <td id ="15"><span class="label label-default"style="position:absolute; top:620px; left:740px;"><font size = "6">離席</font></span></td>
                <td id ="16"><span class="label label-default"style="position:absolute; top:620px; left:840px;"><font size = "6">離席</font></span></td>
                
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
        </tbody>
      </div>
    </table>
  </div>
  </body>
  
</html>
